<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="REMOTEMANAGERURL" value="net.tcp://dev816:10001/RemoteManager"/>
    <add key="sleeptimes" value="50,100,150,200"></add>
    <add key="port" value="50011"/>
    <add key="linktype" value="TCP"/>
	<add key="appName" value="ShotBoxSDK1"/>
	<add key="appPort" value="12281"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
